.popup_loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1s;
  opacity: 1;
  background-color: #170329;
}

.popup_loader_cont {
  width: 30%;
  max-width: 180px;
  border-radius: 100%;
  padding: 40px;
  animation: loader_animate 5s linear infinite;
}

@keyframes loader_animate {
  0% {
    filter: drop-shadow(-5px 5px 15px #ffdd00);
    transform: rotate(10deg);
  }

  25% {
    filter: drop-shadow(5px -5px 30px #0022ff);;
  }

  50% {
    transform: rotate(-10deg);
    filter: drop-shadow(-5px -5px 40px #ff0095);
  }

  75% {
    filter: drop-shadow(5px 5px 30px #09ff00);
  }

  100% {
    filter: drop-shadow(-5px 5px 15px #ffdd00);
    transform: rotate(10deg);
  }
}

.popup__center {
  position: absolute;
}

.cssload-preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.cssload-preloader-box {
  position: absolute;
  margin-bottom: 90px;
  perspective: 195px;
  -o-perspective: 195px;
  -ms-perspective: 195px;
  -webkit-perspective: 195px;
  -moz-perspective: 195px;
}

.cssload-preloader-box>div {
  position: relative;
  float: left;
  width: 29px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  font-family: Verdana;
  font-size: 19px;
  color: white;
  margin-left: 14px;
}

.cssload-preloader-box>div:nth-child(1) {
  animation: cssload-movement 690ms ease 0ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader-box>div:nth-child(2) {
  animation: cssload-movement 690ms ease 80ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 80ms infinite alternate;
  color: #f1acff;
}

.cssload-preloader-box>div:nth-child(3) {
  animation: cssload-movement 690ms ease 160ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 160ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader-box>div:nth-child(4) {
  animation: cssload-movement 690ms ease 240ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 240ms infinite alternate;
  color: #f1acff;
}

.cssload-preloader-box>div:nth-child(5) {
  animation: cssload-movement 690ms ease 320ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 320ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader-box>div:nth-child(6) {
  animation: cssload-movement 690ms ease 400ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 400ms infinite alternate;
  color: #f1acff;
}

@keyframes cssload-movement {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0;
  }

  100% {
    transform: scale(1.5) translateY(-10px) rotateX(-0deg);
    box-shadow: -20px -50px 100px;
  }
}

.cssload-preloader3 {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
}

.cssload-preloader-box3 {
  margin: 0;
}

.cssload-preloader-box3 div:nth-child(1) {
  margin-left: 0;
}

.cssload-preloader-box3 div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}