@charset "UTF-8";
.blue {
  background-color: blue !important;
}

.orang {
  background-color: orange !important;
}

.blueviolet {
  background-color: blueviolet !important;
}

.lime {
  background-color: lime !important;
}

.deepskyblue {
  background-color: deepskyblue !important;
}

.Romance {
  background-color: #ff00e1 !important;
}

.top-contaienr {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-wrapper {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 50;
}

.logo {
  width: 100%;
  height: 100%;
}
.logo b {
  font-family: "EB Garamond", serif, sans-serif;
  display: inline-block;
  transform: translate(0, -15px);
  opacity: 0;
  font-size: 30px;
  color: blue;
}
.logo b:nth-child(2) {
  color: orange;
}
.logo b:nth-child(3) {
  color: blueviolet;
}
.logo b:nth-child(4) {
  color: lime;
}
.logo b:nth-child(5) {
  color: deepskyblue;
}
.logo b:nth-child(6) {
  color: #ff00e1;
}
.logo .anim-add {
  animation: anim-add 1.5s ease-in-out;
}
@keyframes anim-add {
  0% {
    opacity: 0;
    transform: translate(0, -15px);
  }
  10% {
    opacity: 1;
    transform: translate(0, 5px);
  }
  20% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 15px);
  }
}

.top-cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 5%;
  background-color: white;
  height: 60px;
}
.top-cont .top-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 44px;
}
.top-cont .top-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}
.top-cont .top-nav-items {
  padding: 5px 10px;
  background-color: #fdf5ea;
  border-radius: 5px;
  letter-spacing: 1px;
  color: #795548;
  font-style: normal;
  font-weight: 400;
  transition: 250ms;
}
.top-cont .top-nav-items:hover {
  background-color: #ffe0b5;
}
.top-cont .top-nav-items-login {
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.top-cont .top-nav-items-login:hover {
  background-color: #ffe0b5;
  transform: scale(1.1);
}

.head-img-cont {
  width: 100%;
  position: relative;
  background-image: url(../../images/img/kids.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px;
}
.head-img-cont .top-cont-img {
  width: 100%;
}
.head-img-cont .top-cont-bottom-vector {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.head-img-cont .head-img-cont-contend {
  font-size: 18px;
  margin: 11% 6%;
  color: #795548;
}
.head-img-cont .head-img-cont-contend h2 {
  font-size: 42px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 30px;
}
.head-img-cont .head-img-cont-contend p {
  margin-bottom: 30px;
}

.buttons {
  text-align: center;
  color: #795548;
  background: #feff00;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  transition: 250ms;
  cursor: pointer;
}
.buttons:hover {
  background-color: #eded14;
  color: white;
}

.contaienr {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contaienr .wrapper {
  width: 90%;
}

.mini-title {
  margin: 0;
  color: #ff6666;
  text-align: center;
  text-transform: capitalize;
}

.sect1 {
  display: flex;
  margin: 5% 0;
  gap: 5%;
}
.sect1 .sect1-img {
  width: 50%;
}
.sect1 .sect1-textbolck {
  position: relative;
  color: #795548;
  width: 50%;
  padding: 0 30px;
}
.sect1 .sect1-textbolck h3 {
  margin-bottom: 5px;
}
.sect1 .sect1-textbolck b {
  margin-left: 20px;
}

.big-titles {
  text-align: center;
  color: #795548;
  margin: 6% 0px;
}

.sect2 {
  padding-bottom: 30px;
}
.sect2 .cards-block {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.sect2 .cards-block .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  width: 33.3333333333%;
  background-color: #FF6666;
  padding: 45px 20px;
  color: #ffffff;
  box-shadow: 0 10px 14px 0px #cd0000;
  min-width: 280px;
  max-width: 350px;
}
.sect2 .cards-block .cards h4 {
  margin-bottom: 0;
}
.sect2 .cards-block .cards p {
  margin-bottom: 0;
}
.sect2 .cards-block .cards img {
  width: 70%;
  border-radius: 10px;
}
.sect2 .cards-block .cards:nth-child(2) {
  background-color: #1AB9FF;
  box-shadow: 0 10px 14px 0px #0076aa;
}
.sect2 .cards-block .cards:nth-child(3) {
  background-color: #FFC000;
  box-shadow: 0 10px 14px 0px #c99701;
}

.sect3-bg {
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
}
.sect3-bg .top-vector {
  height: auto;
  transform: rotate(180deg);
}
.sect3-bg .bottom-vector {
  transform: rotate(0deg);
}

.sect3 {
  padding-bottom: 30px;
}
.sect3 .card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.sect3 .card .cards {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #795548;
  min-width: 245px;
  margin: 0 auto;
}
.sect3 .card .cards .icon-conts {
  width: 40%;
  border-radius: 100%;
  padding: 7%;
  background-color: #ff0000;
}

.sect4 {
  color: whitesmoke;
  text-align: center;
  padding-top: 140px;
}
.sect4 .reyting-numbers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
}
.sect4 .num {
  border-radius: 8px;
  padding: 8px;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.sect4 p {
  margin-top: 22px;
}

.sect5-bg {
  position: relative;
  background-image: url(../../images/bgFons/bgFon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.sect5-bg .sect5-bg-imgtop {
  position: absolute;
  height: auto;
  top: -1px;
  transform: rotate(180deg);
}
.sect5-bg .sect5-bg-imgbottom {
  height: auto;
  position: absolute;
  bottom: 0;
}

.sect5 {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 140px;
}
.sect5 .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 40px 0;
}
.sect5 .nums {
  position: relative;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 30px;
  text-transform: capitalize;
}
.sect5 .nums::before {
  content: "";
  top: -22px;
  font-size: 15px;
  position: absolute;
}
.sect5 .hour::before {
  content: "ժամ";
}
.sect5 .min::before {
  content: "րոպե";
}
.sect5 .sec::before {
  content: "վայրկյան";
}

.contaienr > .sect-6 {
  width: 100%;
}

.sect-6-title {
  color: #ff6666;
  text-align: center;
}

.sect-7 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sect-7 ul {
  margin: 15px;
  list-style-type: none;
  padding: 26px 0;
  border-radius: 25px;
  min-width: 380px;
  color: #ffffff;
  background-color: #FF6666;
  box-shadow: 0 10px 14px 0px #cd0303;
}
.sect-7 ul li:nth-child(1) {
  text-align: center;
  margin: 0 2% 20px 2%;
  text-transform: uppercase;
  font-weight: 600;
  width: 96%;
}
.sect-7 ul li {
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 600;
  transition: 250ms;
  padding: 0 7px;
  margin: 0 7px;
  border-radius: 4px;
}
.sect-7 ul:nth-child(2) {
  background-color: #0076aa;
  box-shadow: 0 10px 14px 0px #005a80;
}
.sect-7 ul:nth-child(3) {
  background-color: #FFC000;
  box-shadow: 0 10px 14px 0px #c29203;
}
.sect-7 ul:nth-child(4) {
  background-color: #a02dcf;
  box-shadow: 0 10px 14px 0px #70019c;
}
.sect-7 ul:nth-child(5) {
  background-color: #ff0198;
  box-shadow: 0 10px 14px 0px #ce007c;
}

footer {
  position: relative;
  background-color: #2C2C2C;
  color: white;
}
footer .footer-vector {
  transform: rotateX(180deg);
  top: -20px;
  width: 100%;
  height: auto;
  position: absolute;
}
footer .wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
footer .wrapper p {
  margin: 40px 0;
  font-size: 13px;
}
footer .footer-button {
  display: inline-block;
}

.footer-lists-conts {
  display: flex;
  flex-wrap: wrap;
}
.footer-lists-conts .footer-lists-cont {
  width: 33.3333333333%;
  min-width: 240px;
}
.footer-lists-conts .footer-lists-cont p {
  margin: 10px 0;
}
.footer-lists-conts .footer-menu-block {
  display: flex;
  flex-direction: column;
}
.footer-lists-conts .footer-menu-block .top-nav-items {
  color: #dbaf1e;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 3px 3px 0;
  margin-bottom: 3px;
  transition: 150ms;
}
.footer-lists-conts .footer-menu-block .top-nav-items:hover {
  color: #ffc400;
}

.mobileBtn {
  width: 38px;
  transition: 100ms;
  display: none;
  cursor: pointer;
}
.mobileBtn:hover {
  transform: scale(1.1);
}
.mobileBtn:active {
  transform: scale(1);
}

@media screen and (max-width: 1000px) {
  .mobileBtn {
    display: block;
  }
  .head-img-cont {
    background-position: left;
  }
  .top-cont .top-nav {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0;
    gap: 8px;
    flex-direction: column-reverse;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 18px -13px black;
    border-radius: 10px;
    transition: 250ms;
    top: 50px;
    right: -200px;
    opacity: 0;
  }
  .top-cont .top-nav--active {
    right: 0;
    opacity: 1;
  }
  .top-cont .top-nav-items {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sect1 {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 0;
  }
  .sect1 .sect1-img {
    width: 100%;
  }
  .sect1 .sect1-textbolck {
    width: 100%;
    padding: 0;
  }
  .sect1 .sect1-textbolck h2 {
    font-size: 14px;
  }
  .sect1 .sect1-textbolck h3 {
    font-size: 12px;
  }
  .sect1 .sect1-textbolck b {
    font-size: 11px;
  }
}
@media screen and (max-width: 600px) {
  .sect4 .reyting-numbers {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .head-img-cont .head-img-cont-contend h2 {
    font-size: 25px;
  }
  .head-img-cont .head-img-cont-contend p {
    font-size: 12px;
  }
  .sect-7 {
    font-size: 12px;
  }
  .sect-7 ul {
    min-width: 300px;
    margin: 10px 0;
  }
  .footer-lists-cont h3 {
    font-size: 15px;
  }
  .footer-lists-cont .footer-menu-block {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  .sect-7 {
    font-size: 12px;
  }
  .sect-7 ul {
    min-width: 280px;
    padding: 18px 0;
  }
  .sect-7 ul li:nth-child(1) {
    margin: 0 0 10px 0;
  }
}/*# sourceMappingURL=main.css.map */