.popup_loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1s;
  opacity: 1;
  background-color: #170329;
}

.popup__center {
  position: absolute;
}

.cssload-preloader {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.cssload-preloader>.cssload-preloader-box {
  position: absolute;
  margin-bottom: 90px;
  perspective: 195px;
  -o-perspective: 195px;
  -ms-perspective: 195px;
  -webkit-perspective: 195px;
  -moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box>div {
  position: relative;
  float: left;
  width: 29px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  font-family: Verdana;
  font-size: 19px;
  color: white;
  margin-left: 14px;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(1) {
  animation: cssload-movement 690ms ease 0ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(2) {
  animation: cssload-movement 690ms ease 80ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 80ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 80ms infinite alternate;
  color: #f1acff;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(3) {
  animation: cssload-movement 690ms ease 160ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 160ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 160ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(4) {
  animation: cssload-movement 690ms ease 240ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 240ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 240ms infinite alternate;
  color: #f1acff;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(5) {
  animation: cssload-movement 690ms ease 320ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 320ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 320ms infinite alternate;
  color: #00f2ff;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(6) {
  animation: cssload-movement 690ms ease 400ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 400ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 400ms infinite alternate;
  color: #f1acff;
}

@keyframes cssload-movement {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0;
  }

  100% {
    transform: scale(1.5) translateY(-10px) rotateX(-0deg);
    box-shadow: -20px -50px 100px;
  }
}

/* ---------------------2-------------------------- */

.cssload-preloader>.cssload-preloader-box2 {
  perspective: 195px;
  -o-perspective: 195px;
  -ms-perspective: 195px;
  -webkit-perspective: 195px;
  -moz-perspective: 195px;
  margin-left: 185px;
}

.cssload-preloader .cssload-preloader-box2>div {
  position: relative;
  width: 10px;
  height: 10px;
  float: left;
  text-align: center;
  font-family: Verdana;
  font-size: 7px;
  color: #53fcff;
  border-radius: 100%;
  text-transform: uppercase;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(1) {
  animation: cssload-movement2 690ms ease 450ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 450ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 450ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 450ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 450ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(2) {
  animation: cssload-movement2 690ms ease 500ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 500ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 500ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 500ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 500ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(3) {
  animation: cssload-movement2 690ms ease 550ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 550ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 550ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 550ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 550ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(4) {
  animation: cssload-movement2 690ms ease 600ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 600ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 600ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 600ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 600ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(5) {
  animation: cssload-movement2 690ms ease 650ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 650ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 650ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 650ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 650ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(6) {
  animation: cssload-movement2 690ms ease 700ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 700ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 700ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 700ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 700ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box2>div:nth-child(7) {
  animation: cssload-movement2 690ms ease 750ms infinite alternate;
  -o-animation: cssload-movement2 690ms ease 750ms infinite alternate;
  -ms-animation: cssload-movement2 690ms ease 750ms infinite alternate;
  -webkit-animation: cssload-movement2 690ms ease 750ms infinite alternate;
  -moz-animation: cssload-movement2 690ms ease 750ms infinite alternate;
}


@keyframes cssload-movement2 {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
  }

  100% {
    transform: scale(1.5) translateY(-5px) rotateX(-0deg);
  }
}